{% extends 'base/base.html' %}
{% load staticfiles %}
{% load materializecss %}
{% block title %} INICIO DE SESIÓN {% endblock %}

{% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="row center">
            <h1>Bienvenido! :)</h1>
        </div>

        <div class="row">
            <div class="col s3"></div>
            <div class="col s6">
                <div class="form-group">
                    <label for="username">Nombre de usuario:</label>
                    <input class="form-control" type="text" name="username">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s3"></div>
            <div class="col s6">
                <div class="form-group">
                    <label for="username">Contraseña:</label>
                    <input class="form-control" type="password" name="password">
                </div>
            </div>
        </div>

        <div class="row center">

            <button class="btn waves-effect waves-light center" type="submit" name="action">Entrar</button><br>
            <a href="{% url 'password_reset' %}">Olvidé mi contraseña :(</a>

        </div>


        <div class="row center">
            <!-- Botón para iniciar sesión con facebook -->
            <a class="btn waves-effect waves-light blue " href="{% url 'social:begin' 'facebook' %}">Facebook </a>
            <a class="btn waves-effect waves-light blue disabled " href="{% url 'social:begin' 'twitter' %}">Twitter </a>
            <a class="btn waves-effect waves-light orange " href="{% url 'social:begin' 'github' %}">Github </a>
            

        </div>

</div>
</form>

</div>

{% endblock %}